{% extends "main/base.html" %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>Ryerson University</h1>
        <h2>2022 COE ENGINEERING DESIGN PROJECT (AA03)</h2>
    </div>

    <div class="content">
        <h2 class="content-subhead">FLC Supervisor</h2>
        <p>
            Alagan Anpalagan. // alagan@ee.torontomu.ca
        </p>

        <h2 class="content-subhead">Frontend Developer</h2>
        <p>
            Adnan Zahid. // adnan.zahid@ryerson.ca
        </p>

        <h2 class="content-subhead">Backend Developer</h2>
        <p>
            Mickael Solakis. // msolakis@ryerson.ca
        </p>

        <h2 class="content-subhead">Computer Vision Expert</h2>
        <p>
            Horia Raducu. // hraducu@ryerson.ca
        </p>

        <h2 class="content-subhead">Machine Learning Specialist</h2>
        <p>
            Yuval Amir. // yuval.amir@ryerson.ca
        </p>
    </div>
</div>
{% endblock %}